:root {
    --white: #fff;
    --deep_gray: #666666;
    --green: #448899;

    --arrow_shadow: 0 3px 5px rgba(104, 104, 104, 0.8);
    --bookingForm_bgc: #E8E8E8;
}

#root{
    display: grid;
    grid-template-rows: 54px auto;
}

main{
    display: grid;
    grid-template-columns: minmax(300px, 1200px);
    justify-content: center;
    margin: 37px 0;
    gap: 37px;
}

main > .top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

main > .top > .left{
    padding: 3px 0px 3px 15px;

    position: relative;
}

main > .top > .right{
    padding: 3px 15px 3px 0px;
}

main > .top > .left > .imgAll{
    width: 100%;
    height: 100%;
}

main > .top > .left > .imgAll > .attractionImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    aspect-ratio: 16/9;

    display: none;

    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .6
    }

    to {
        opacity: 1
    }
}

main > .top > .left > .arrowAll > .prev{
    position: absolute;
    top: 45%;
    left: 25px;
}

main > .top > .left > .arrowAll > .next{
    position: absolute;
    top: 45%;
    right: 10px;
}

main > .top > .left > .arrowAll > .prev > .leftArrow, .next > .rightArrow{
    border-radius: 50%;
    cursor: pointer;
}

main > .top > .left > .arrowAll > .prev > .leftArrow:hover, .next > .rightArrow:hover{
    box-shadow: var(--arrow_shadow);
}

main > .top > .left > .dotAll{
    position: relative;
    bottom: 25px;

    display: flex;
    justify-content: center;
}

main > .top > .left > .dotAll > .dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--white);
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;

    transition: background-color 1s ease;
}

main > .top > .left > .dotAll > .active{
    border: 1px solid var(--white);
    background-color: var(--deep_gray);
}

main > .top > .left > .dotAll > .dot:hover{
    border: 1px solid var(--white);
    background-color: var(--deep_gray);
}


main > .top > .right{
    display: grid;
    gap: 20px;
    color: var(--deep_gray);
}

main > .top > .right > .title_info{
    display: grid;
    gap: 15px;
}

main > .top > .right > .title_info > .title{
    font-size: 24px;
    font-weight: bold;
}

main > .top > .right > .bookingForm{
    display: grid;
    gap: 15px;

    background-color: var(--bookingForm_bgc);
    padding: 15px 20px;
    border-radius: 5px;
}

main > .top > .right > .bookingForm > .date{
    display: flex;
    align-items: center;
}

main > .top > .right > .bookingForm > .price{
    display: flex;
}

main > .top > .right > .bookingForm > .time{
    display: flex;
    align-items: center;
    accent-color: var(--green);
}

main > .top > .right > .bookingForm > .time > .rdobutton_label{
    width: 18px;
    height: 18px;
}

main > .top > .right > .bookingForm > .time > label{
    margin: 0 10px;
}

main > .top > .right > .bookingForm > .bookingBtn{
    color: var(--white);
    background-color: var(--green);
    font-size: 19px;
    font-weight: 400px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    width: 154px;
    height: 3rem;
    padding: 10px 20px;
    margin-top: 10px;
}


main > .bottom{
    padding: 0 10px;
    text-align: justify;
    letter-spacing: 4px;
}

main > .bottom > .line{
    width: 100%;
    border: 1px solid var(--bookingForm_bgc);
    margin-bottom: 40px;
}

main > .bottom > .description, .address, .direction{
    padding: 10px 10px 20px 10px;
    color: var(--deep_gray);
    line-height: 25px;
}

main > .bottom > .map{
    margin: 15px 0 0 10px;
    border-radius: 5px;
}

.addressTitle, .directionTitle{
    font-weight: bold;
}

@media screen and (max-width: 670px) {
    main{
        margin: 0 0 50px;
    }

    main > .top{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    main > .top > .left{
        padding: 0;
    }

    main > .top > .left > .imgAll > .attractionImg{
        width: 100%;
        height: 70vw;
    }

    main > .top > .left > .dotAll{
        position: relative;
        bottom: 40px;
    }

    main > .top > .left > .arrowAll > .prev{
        left: 10px;
    }
    
    main > .top > .right{
        padding: 0 10px;
    }

    main > .bottom{
        padding: 0 15px;
    }
}