:root {
  --white: #fff;
  --black: #000;
  --black_translucent:rgba(15, 14, 14, 0.6);

  --light_gray: #757575;
  --green: #448899;
  --light_green: rgba(68, 136, 153, 0.5);

  --categoryList_shadow:  0px 0px 20px #AABBCC;
  --category_bgc: #E8E8E8;

  --attractionInfo_shadow: 0 3px 5px rgba(104, 104, 104, 0.8);
  --attractionInfo_border: 1px solid #E8E8E8;
}

#root{
  display: grid;
  grid-template-rows: 54px 320px auto;
  position: relative;
}

header{
  grid-row: 2/3;

  display: grid;
  grid-template-columns: auto minmax(300px, 1200px) auto;

  background-image: url(../images/welcome.png);
  background-size: cover;
}


header > .slogan_search{
  grid-column: 2/3;
  align-self: center;
  padding-left: 10px;

  display: grid;

  color: var(--white);
}

header > .slogan_search > .slogan{
  display: grid;
  gap: 15px;
}

header > .slogan_search > h2{
  font-size: 28px;
}

header > .slogan_search > .search{
  width: 460px;

  display: grid;
  grid-auto-flow: column;
  justify-content: start;

  margin-top: 25px;
}

header > .slogan_search > .search > input{
  width: 400px;
  height: 46px;
  border-radius: 3px;
  border: none;

  font-size: 16px;
  color: var(--light_gray);

  padding-left: 15px;
}

header > .slogan_search > .search > input:focus{
  outline: none;
}

header > .slogan_search > .search > button{
  width: 60px;
  height: 46px;

  border: none;
  border-radius: 3px;
  cursor: pointer;

  background: url(../images/icon_search.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--green);
}

header > .slogan_search > .category_list{
  display: grid;
  grid-template-columns: repeat(3, 120px);
  width: 400px;
  margin-top: 5px;
  margin-left: 10px;

  background-color: var(--white);
  color: var(--black);
  box-shadow: var(--categoryList_shadow);
  border-radius: 5px;

  position: absolute;
  top: 295px;
  z-index: 3;

  animation: appear .4s ease-in-out;

  /* 暫時隱藏 */
  display: none;
}

@keyframes appear {
  0% {
    top: 280px;
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50%{
    opacity: 0.75;
  }
  100% {
    top: 295px;
    opacity: 1;
  }
}

header > .slogan_search > .category_list > .category{
  height: 40px;
  padding: 10px 15px;
  border-radius: 5px;

  font-size: 14px;
  font-weight: 500;
  
  cursor: pointer;
}

header > .slogan_search > .category_list > .category:hover{
  background-color: var(--category_bgc);
}

main{
  width: 1200px;
  min-height: calc(188px - 104px);
  
  margin: 50px auto;
  padding: 15px;

  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  justify-content: center;

  display: none;
}

main > .attraction{
  display: grid;
  grid-template-rows: 197px 45px;
  text-decoration: none;
  border-radius: 5px;

  cursor: pointer;
}

main > .attraction:hover{
  box-shadow: var(--attractionInfo_shadow);
}

main > .attraction > .attraction_name{
  position: relative;
}

main > .attraction > .attraction_name > img{
  display: block;
  width: 100%;
  height: 197px;
}

main > .attraction > .attraction_name > p{
  position: absolute;
  bottom: 0px;

  width: 100%;
  height: 40px;
  padding: 8px 10px 10px;


  color: var(--white);
  font-weight: bold;
  background-color: var(--black_translucent);

 
  overflow: hidden;  /* 強制讓文字不換行 */
  text-overflow: ellipsis; /* 隱藏此行文字超出容器的部分 */
  white-space: nowrap; /* 溢出的文字加上省略符號 */
}

main > .attraction > .attraction_info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  border: var(--attractionInfo_border);
  color: var(--light_gray);

  border-radius: 5px;
}

main > .attraction > .attraction_info > .category{
  justify-self: end;
  padding: 10px;
}

main > .attraction > .attraction_info > .mrt{
  padding: 10px;
}

@media (max-width: 1200px) {
  main{
    width: 900px;
    grid-template-columns: repeat(3, 270px);
  }
}

@media (max-width: 900px){
  main{
    width: 600px;
    grid-template-columns: repeat(2, 270px);
  }
}

@media (max-width: 600px){
  header > .slogan_search{
    padding-left: 20px;
  }

  header > .slogan_search > .search{
    width: 285px;
  }

  header > .slogan_search > .search > input{
    width: 230px;
  }

  header > .slogan_search > .category_list{
    width: 322px;
    grid-template-columns: repeat(3, 96px);
    margin-left: 20px;
  }

  main{
    width: 360px;
    min-height: calc(228px - 104px);
    grid-template-columns: repeat(1, 322px);

    gap: 15px;
    margin: 30px auto;
  }

  main > .attraction{
    grid-template-rows: 235px 45px;
  }

  main > .attraction > .attraction_name > img{
    height: 100%;
  }
}

.loader{
  width: 90px;
  height: 90px;
  transform:  translate(-50%, -50%);
  border: 10px solid #dddddd;
  border-radius: 50%;
  
  text-align: center;
  line-height: 90px;
  font-family: sans-serif;
  color: var(--green);

  position: relative;
  top: 50%;
  left: 50%;

  margin-bottom: 95px;
}

.loader::before{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border: 10px solid #dddddd;
  border-radius: 50%;
  border-top: 10px solid #93dbe9;
  border-right: 10px solid #93dbe9;

  animation: animateCircle 2s linear infinite;
}

.loader_text{
  position: absolute;
  left: 25%;
  top: -16%;
  width: 45%;

  color: var(--deep_gray);
}

.loaderCircle{
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 10px;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.loaderCircle::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #93dbe9;
  top: -5px;
  right: -16px;
  box-shadow: 0 0 10px #93dbe9;
}

@keyframes animateCircle{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

@keyframes animate{
  0%{
      transform: rotate(45deg);
  }
  100%{
      transform: rotate(405deg);
  }
}

