:root {
    --overlay: rgba(0, 0, 0, 0.25);
    --white: #fff;
    --login_box_shadow: 0px 4px 60px #AAAAAA;
    --deep_gray: #666666;
    --light_gray: #757575;
    --login_before: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    --message: rgba(204, 92, 92, 0.9);
    --green: #448899;
    --stop_green: rgba(68, 136, 153, 0.5);
}

.overlay{
    width: 100%;
    height: 100vh;
    background-color: var(--overlay);
    position: fixed;
    top: 0;
    z-index: 8;

    display: none;
}

/*----- SignIn -----*/
.signIn{
    width: 340px;

    position: fixed;
    justify-self: center;
    top: 5rem;
    
    z-index: 10;

    background-color: var(--white);
    box-shadow: var(--login_box_shadow);
    border-radius: 6px;
    text-align: center;

    display: grid;
    padding: 15px;
    justify-items: center;

    display: none;
}

.appear{
    animation: loginBoxAppear .2s ease-in;
}

@keyframes loginBoxAppear {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    25% {
        transform: scale(0.25);
        opacity: 0.25;
    }
    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }
    75%{
        transform: scale(0.75);
        opacity: 0.75;
    }
    100% {
        transform: scale(1);
      opacity: 1;
    }
  }

.signIn > .signIn_title{
    color: var(--deep_gray);
    margin: 10px 0px 15px;
}

.signIn > .login_icon_close{
    position: absolute;
    top: 25px;
    right: 17px;

    border: 1px solid var(--light_gray);
    border-radius: 50%;
    padding: 2px;

    cursor: pointer;
}

.signIn > .signIn_email, .signIn_password{
    width: 310px;
    height: 47px;
    margin: 5px 0;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    outline: none;
}

.signIn > .signIn_button{
    width: 100%;
    font-size: 19px;
    border: none;
    border-radius: 5px;

    color: var(--white);

    padding: 10px 20px;
    margin: 10px 0;
}

.signIn > .signIn_change_message{
    color: var(--deep_gray);
    cursor: pointer;
    text-decoration: underline;
}

.signIn::before{
    content: "";
    width: 100%;
    height: 10px;
    background: var(--login_before);
    border-radius: 6px 6px 0 0;

    position: absolute;
    top: 0;
    left: 0;
}

.signIn > .signIn_response_message{
    width: 100%;
    color: var(--white);
    background-color: var(--message);
    margin: 10px 0;
}

.signIn_email_message, .signIn_password_message{
    font-size: 14px;
    color: var(--message);
    text-align: start;
    padding-left: 10px;
}

/*----- SignUp -----*/
.signUp{
    width: 340px;

    position: fixed;
    justify-self: center;
    top: 5rem;
    
    z-index: 10;

    background-color: var(--white);
    box-shadow: var(--login_box_shadow);
    border-radius: 6px;
    text-align: center;

    display: grid;
    padding: 15px;
    justify-items: center;

    display: none;
}

.signUp > .signUp_title{
    color: var(--deep_gray);
    margin-bottom: 15px;
}

.signUp > .login_icon_close{
    position: absolute;
    top: 25px;
    right: 17px;

    border: 1px solid var(--light_gray);
    border-radius: 50%;
    padding: 2px;

    cursor: pointer;
}

.signUp >.signUp_name, .signUp_email, .signUp_password{
    width: 310px;
    height: 47px;
    margin: 5px 0;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    outline: none;
}

.signUp > .signUp_button{
    width: 100%;
    font-size: 19px;
    border: none;
    border-radius: 5px;

    color: var(--white);

    padding: 10px 20px;
    margin: 10px 0;
}

.signUp > .signUp_change_message{
    color: var(--deep_gray);
    cursor: pointer;
    text-decoration: underline;
}

.signUp::before{
    content: "";
    width: 100%;
    height: 10px;
    background: var(--login_before);
    border-radius: 6px 6px 0 0;

    position: absolute;
    top: 0;
    left: 0;
}

.signUp_response_message{
    width: 100%;
    color: var(--white);
    background-color: rgba(204, 92, 92, 0.9);
    margin: 10px 0px;
}



.signUp_name_message, .signUp_email_message, .signUp_password_message{
    font-size: 14px;
    color: var(--message);
    text-align: start;
    padding-left: 10px;
}

/* button */
.valid{
    cursor: pointer;
    background-color: var(--green);
}

.invalid{
    cursor: not-allowed;
    background-color: var(--stop_green);
}