{% extends "base.html" %}

{% block title %}
    <title></title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="/CSS/attraction.css">
    <link rel="stylesheet" href="/CSS/base.css">
{% endblock css %}
{% block content %}
    <div class="booking_message">
        <div class="booking_message_box">
            <img class="booking_message_close_button" src="/images/icon_close.png" alt="close_button">
            <div class="booking_message_title"></div>
            <button class="booking_message_button" href="/booking">前往查看訂單</button>
        </div>
    </div>

    <main>
        <section class="top">
            <div class="left">
                
                <div class="loader">
                    <div class="loader_text">0%</div>
                    <span class="loaderCircle"></span>
                </div>
                
                <div class="imgAll"></div>
                <div class="arrowAll">
                    <a class="prev" onclick="arrowButton(-1)">
                        <img class="leftArrow" src="/images/btn_leftArrow.png" alt="">
                    </a>
                    <a class="next" onclick="arrowButton(1)">
                        <img class="rightArrow" src="/images/btn_rightArrow.png" alt="">
                    </a>
                </div>
                <div class="dotAll"></div>
            </div>
            
            <div class="right">
                <div class="title_info">
                    <div class="title"></div>
                    <div class="info"></div>
                </div>
                <div class="bookingForm">
                    <h4>訂購導覽行程</h4>
                    <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <div class="date">
                        <h4>選擇日期：</h4>
                        <input type="date" id="date_input" name="date">
                    </div>
                    <div class="time" id="time">
                        <h4>選擇時間： </h4>

                        <input type="radio" class="rdobutton_label" id="morning" name="time" value="morning">
                        <label for="morning">上半天</label> 
                        
                        <input type="radio" id="afternoon" class="rdobutton_label" name="time" value="afternoon">
                        <label for="afternoon">下半天</label>
                    </div>

                    <div class="price">
                        <h4>導覽費用：</h4>
                        <p id="price">請選擇導覽時間</p>
                    </div>

                    <button class="bookingBtn">開始預約行程</button>
                </div>
            </div>
        </section>

        <section class="bottom">
            <div class="line"></div>

            <div class="description"></div>

            <div class="address">
                <div class="addressTitle">
                    景點地址：
                </div>
                <div class="addressContent"></div>
            </div>

            <div class="direction">
                <div class="directionTitle">
                    交通方式：
                </div>
                <div class="directionContent"></div>
            </div>
            <iframe class="map" width="280px" height="280px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </section>
    </main>
{% endblock content %}

{% block js %}
    <script src="/JS/auth.js"></script>
    <script src="/JS/attraction.js"></script>
{% endblock js %}