{% extends "base.html" %}

{% block title %}
<title>訂購行程</title>
{% endblock title %}

{% block css %}
<!-- TapPay -->
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>

<link rel="stylesheet" href="/CSS/booking.css">
<link rel="stylesheet" href="/CSS/base.css">
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
{% endblock css %}

{% block content %}
<main>
    <div class="check_message">
        <div class="check_message_box">
            <img class="check_message_close_button" src="/images/icon_close.png" alt="close_button">
            <div class="check_message_title"></div>
        </div>
    </div>

    <div class="welcome">
        <div class="welcome_text"></div>
    </div>
    <div class="booking_info">
        <div class="left">
            <img class="attraction_img" alt="pic">
        </div>
        <div class="right">
            <div class="attraction_title"></div>
            <div class="attraction_date">
                <b>日期：</b>
                <span class="date"></span>
            </div>
            <div class="attraction_time">
                <b>時間：</b>
                <span class="time"></span>
            </div>
            <div class="attraction_price">
                <b>費用：</b>
                <span class="price"></span>
            </div>
            <div class="attraction_address">
                <b>地點：</b>
                <span class="address"></span>
            </div>
            <img class="delete_button" src="/images/icon_delete.svg" alt="delete">
        </div>
    </div>

    <div class="contact">
        <h3>您的聯絡資訊</h3>
        <div class="contact_name">
            聯絡姓名：
            <input type="text" name="name" id="contact_name_input">
            <span class="contact_name_message"></span>
        </div>
        <div class="contact_email">
            連絡信箱：
            <input type="email" name="email" id="contact_email_input">
            <span class="contact_email_message"></span>
        </div>
        <div class="contact_name">
            手機號碼：
            <input type="tel" id="contact_tel_input">
            <span class="contact_tel_message"></span>
        </div>
        <h4>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</h4>
    </div>

    <div class="payment">
        <h3>信用卡付款資訊</h3>
        <div class="creditCard_number">
            卡片號碼：
            <div class="tpfield" id="card-number"></div>
        </div>
        <div class="exp">
            過期時間：
            <div class="tpfield" id="card-expiration-date"></div>
        </div>
        <div class="ccv">
            驗證密碼：
            <div class="tpfield" id="card-ccv"></div>
        </div>

    </div>

    <div class="checkPay">
        <h4 class="total_price"></h4>
        <button class="checkPay_button">確認訂購並付款</button>
    </div>

</main>

<div class="check_delete">
    <div class="check_delete_box">
        <img class="check_delete_close_button" src="/images/icon_close.png" alt="close_button">
        <div class="title">確定刪除?</div>
        <div class="check_button">
            <button class="cancel">取消</button>
            <button class="checked">刪除</button>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script src="/JS/auth.js"></script>
<script src="/JS/booking.js"></script>
{% endblock js %}