<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Day Trip</title>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/index.css">
</head>
<body>
    <div id="root">
        <nav>
            <div class="top_link">
                <h1><a href="/">台北一日遊</a></h1>
                <div class="link">
                    <a href="/">預定行程</a>
                    <a href="/">登入註冊</a>
                </div>
            </div>
        </nav>

        <header>
            <div class="slogan_search">
                <div class="slogan">
                    <h1>輕鬆享受台北一日悠閒</h1>
                    <p>探索每個角落，體驗城市的深度旅遊行程</p>
                </div>
                <div class="search">
                    <input type="text" class="searchInput" id="keyword_value" placeholder="輸入景點名稱查詢">
                    <button class="search_btn"></button>
                </div>
            </div>
        </header>

        <main></main>
            
        <footer>
            <p>COPYRIGHT © 2021 台北一日遊</p>
        </footer>
    </div>

    <script src="/JS/index.js"></script>
</body>
</html>