{% extends "base.html" %}

{% block title %}
    <title>Taipei Day Trip</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/base.css">
{% endblock css %}
{% block content %}
    <header>
        <div class="slogan_search">
            <div class="slogan">
                <h1>輕鬆享受台北一日悠閒</h1>
                <p>探索每個角落，體驗城市的深度旅遊行程</p>
            </div>
            <div class="search">
                <input type="text" class="searchInput" id="keyword_value" placeholder="輸入景點名稱查詢">
                <button class="search_btn"></button>
            </div>
        </div>
    </header>
    <main>
        
    </main>

    <div class="loader">
        <div class="loader_text">0%</div>
        <span class="loaderCircle"></span>
    </div>
{% endblock content %}

{% block js %}
    <script src="/JS/auth.js"></script>
    <script src="/JS/index.js"></script>
{% endblock js %}